<div class="container" id="container0">
  <p>Follow the walrus. Find your own, personal misery</p>
</div>

<div class="container" id="container1">
  <p>You will not find peace, where the walrus weeps</p>
</div>

<div class="container" id="container2">
  <p>He who is without form, dwells in the dark</p>
</div>

<h4>Project Walrus</h4>

<h6>What is the Walrus?</h6>

<div id="walrus-content">
  <p>
    The Walrus is this character, that I've created in my illustrations. The
    Walrus represents the Jungian Shadow in a way. It is fear. It is guidance.
    One night it occured in my dream. The Walrus is the guide into my
    subconscious. It lives in my dreams. It does not talk, it merely feels and
    thinks. It is my Charon, the guide that knows it's way around desires, fear
    and destiny.
  </p>
</div>
<div class="walrus-flexbox">
  <img src="assets/Project-Walrus/Walrus-1.png" style="max-width: 500px">
</div>

