<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <button ngbNavLink>About</button>
    <ng-template ngbNavContent>
      <app-about></app-about>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <button ngbNavLink>Example</button>
    <ng-template ngbNavContent>
      <app-example></app-example>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <button ngbNavLink>Project Walrus</button>
    <ng-template ngbNavContent>
      <app-project-walrus></app-project-walrus>
    </ng-template>
  </li>

</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
