<ngb-alert>
  Cookie Notice: By accepting cookies you pledge your soul to the devil
  <button (click)="open(content)">Accept</button>
  <a href="https://youtu.be/dQw4w9WgXcQ?si=wRg_7h6MbFKabM1F">
    <button>Reject</button>
  </a>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h6 class="modal-title" id="modal-basic-title">
        This was a joke. Congratulations for getting it
      </h6>
      <p>
        I'm not collecting any data. I doubt there's much buisness-value in
        collecting data about this site lol
      </p>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
  </ng-template>
</ngb-alert>
