/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

html,
body,
app-root {
  height: 100%;
}
body {
  margin-bottom: 0;
  margin-top: 0;
  height: 100vh;
  flex-direction: column;
  background-color: dimgrey;
}
